#feed {
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
}

#feed-tabs {
    display: flex;
}

.feed-tab {
    padding: 5px;
    cursor: pointer;
    border: 2px solid black;
    border-bottom: 0;
    border-top-right-radius: 20px;
    transition: all 0.3s;
}

.feed-tab:hover {
    background-color: black;
    color: white;
}

.feed-tab-selected {
    background-color: black;
    color: white;
    padding: 5px;
    cursor: pointer;
    border: 2px solid black;
    border-bottom: 0;
    border-top-right-radius: 20px;
    transition: all 0.3s;
}
