.followed-user {
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid black;
}

.followed-user span {
    cursor: pointer;
}

.followed-user span:hover {
    text-decoration: underline;
}

.followed-user:last-child {
    margin-right: 0;
}

.followed-user:nth-child(even) {
    background-color: lightgray;
}
