.follower {
    border: 1px solid black;
    border-top: 0;
    padding: 5px;
}

.follower span {
    cursor: pointer;
}

.follower span:hover {
    text-decoration: underline;
}

.follower:first-child {
    border-top: 1px solid black;
}

.follower:nth-child(even) {
    background-color: lightgray;
}
