.post {
    border: 1px solid black;
    border-top: 0;
    padding: 5px;
}

.post:first-child {
    border-top: 1px solid black;
}

.post:nth-child(even) {
    background-color: lightgray;
}

.post-text {
    margin-bottom: 5px;
}

.post-username {
    margin-bottom: 5px;
}

.post-info {
    display: flex;
    justify-content: space-between;
}

.post-heart {
    cursor: pointer;
}

.post-message {
    transform: translate(0, -5px);
}

.post-ok {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    transition: all 0.3s;
}

.post-ok:hover {
    background-color: black;
    color: white;
}

.post-error {
    color: darkred;
    margin-right: 5px;
}
